@font-face {
  font-family: 'Jost';
  src: url("../component/font/Jost/Jost-Italic-VariableFont_wght.ttf") format('truetype');
  font-style: italic;
  font-weight: normal;
}

BgImage {
  background-image: url('https://app.talkpal.ai/static/media/Chat-Mode.c505bbb6ecbf5c1b429e.jpg');
  background-size: cover;
  background-position: center;
}

@font-face {
  font-family: 'Jost';
  src: url("../component/font/Jost/Jost-VariableFont_wght.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}

* {
  font-family: 'Jost', sans-serif !important;
  scroll-behavior: smooth;
}


.button:active {
  transform: translateY(2px); /* Moves the button down by 2px when clicked */
}

/* Global CSS */

/* Define the initial position */
.imageUp-hover-effect {
  transition: transform 0.3s ease;
}

/* Define the hover effect */
.imageUp-hover-effect:hover {
  transform: translateY(-5px); /* Move image up by 5 pixels */
}


@tailwind base;
@tailwind components;
@tailwind utilities;

.borderGreen {
  border-color: rgb(88, 167, 0);
}

.greenColor {
  background-color: rgba(88, 204, 2);
}
.greenTextColor {
  color: rgb(88, 167, 0);
}


.pulse-container {
    width: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .pulse-bubble {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #FFFFFF;
  }
  
  .pulse-bubble-1 {
    animation: pulse .4s ease 0s infinite alternate;
  }
  
  .pulse-bubble-2 {
    animation: pulse .4s ease .2s infinite alternate;
  }
  
  .pulse-bubble-3 {
    animation: pulse .4s ease .4s infinite alternate;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }
  
/*  */
.direct-register-pulse-container {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .direct-register-pulse-bubble {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #d1d5db;
  }
  
  .direct-register-pulse-bubble-1 {
    animation: pulse .4s ease 0s infinite alternate;
  }
  
  .direct-register-pulse-bubble-2 {
    animation: pulse .4s ease .2s infinite alternate;
  }
  
  .direct-register-pulse-bubble-3 {
    animation: pulse .4s ease .4s infinite alternate;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }
  



  .modalANimation {
    transform:scale(1);
    .modal-background {
      background:rgba(0,0,0,.0);
      animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      .modal {
        transform:translateX(-1500px);
        animation: roadRunnerIn .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      }
    }
    &.out {
      animation: quickScaleDown 0s .5s linear forwards;
      .modal-background {
        animation: fadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        .modal {
          animation: roadRunnerOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
      }
    }
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
